@import '~bootstrap/scss/bootstrap.scss';
@import url('~semantic-ui-css/semantic.min.css');
@import url('./vendors/boostrap-select/bootstrap-select.css');
@import 'css/style';
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600&display=swap');
@import 'form';
@import 'loader';

.container {
    max-width: 1245px !important;
}

.page-choose-account .main-content .col-md-4 .ctn-inner .button-group button{
    width:100%;
}

.page-create-account{
    &.investor-account{
        &.investor-account-01{
            padding-top:0 !important;
            padding-bottom:0 !important;
        }
    }
} 

/*/Pages /**/
.page-deals.page-all-deals{
    padding-top:8px !important;
}

/** Profile **/
.previewIcon{    
    display:flex;
    justify-content: center;
    align-items:center;
    img{
        max-width:125px; max-height:125px;
        display:block; margin-left:auto; margin-right:auto;
        width:100%; height:auto; 
    }
}
